@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
}

.dashboard-container {
  grid-column: 1;
  background-color: #1373b9;
}

.content-container {
  grid-column: 2 / 4;
  margin: 2% 3%;
  margin-bottom: 0;
  height: auto;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 6%;
}

.user-profile {
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.user-profile h3 {
  margin: 0;
  padding: 0;
}

.profile-name {
  margin-top: 2%;
  margin-bottom: 2%;
}

.profile-name h3 {
  margin-bottom: 0;
  color: #fff;
  font-size: 24px;
}

.horizontal-line {
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.horizontal-line-blue {
  border-bottom: 1px solid #1373b9;
  width: 100%;
  margin-top: 0.3%;
  margin-bottom: 1%;
}

.menu-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  display: block;
  padding: 10px;
  background: none;
  border: none;
  width: 100%;
  transition: 0.3s;
  color: #fff;
}

.menu-link {
  display: block;
  padding: 10px;
  background: none;
  border: none;
  width: 100%;
  transition: 0.3s;
  color: #fff; /* Set default text color for menu links */
}

.menu-link:hover,
.menu-link--active {
  background-color: #74bcf1;
  color: #000000;
}

.menu-list-styling--active {
  color: #000000 !important;
}

.menu-list-styling {
  display: flex;
  align-items: center;
  padding: 4% 8%;
  font-size: 20px;
}

.menu-list-styling h6 {
  margin-bottom: 0;
}

.list-icon {
  width: 20%;
  text-align: center;
}

.list-text {
  width: auto;
  font-weight: 700;
}

.content-container {
  display: none;
}

.content-container--active {
  display: block;
}

.content-container h2 {
  font-weight: 700;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: normal;
}

.btn-toggle-modal {
  background-color: #1373b9;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.btn-edit {
  background-color: #072e4a;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.btn-delete {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.btn-save-changes {
  background-color: #072e4a;
  font-weight: 600;
  color: #fff;
  border-radius: 12px;
  font-size: 14px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.btn-discard-changes {
  background-color: #ff0000;
  font-weight: 600;
  color: #fff;
  border-radius: 12px;
  font-size: 14px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.btn-download-csv {
  background-color: #144f05;
  color: #fff;
  border: none;
  padding: 5px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.btn-download-csv:hover {
  text-decoration: none;
  color: #fff;
}

.btn-save-changes:hover,
.btn-discard-changes:hover {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.btn-edit:hover,
.btn-delete:hover {
  color: #fff;
  text-decoration: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1%;
  border: 2px solid #1373b9;
  border-radius: 12px;
}

.table thead th,
.table th {
  border-top: 2px solid #1373b9;
  border-bottom: 2px solid #1373b9;
}

.checkbox-col,
.checkbox-col-tick {
  width: 30px; /* Adjust the width as needed */
  padding: 1em !important; /* Adjust the padding as needed */
  vertical-align: middle;
}

.checkbox-col-tick {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelcsv {
  background-color: #1373b9;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 0;
}

.jinja-alert-container {
  display: flex;
  flex-direction: row;
}

.csvfileinput {
  display: none;
}

.csvdownload-template {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.downloadcsv-link {
  padding: 8px 10px;
  text-decoration: none;
  color: #fff;
}

.downloadcsv-link:hover {
  text-decoration: none;
  color: #fff;
}

/* .password-change {
  display: flex;
  flex-direction: row;
} */

.login-background {
  display: flex;
  align-items: center;
  background-color: #1373b9;
  height: 100vh;
  width: 100vw;
  padding: 7% 5%;
}

.kindergarten-logo {
  display: flex;
  justify-content: center;
  width: 50%;
}

.kindergarten-logo img {
  height: 400px;
  width: 400px;
}

.login-register-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.login-register-box {
  width: 70%;
}

.login-register-header {
  display: flex;
  justify-content: center;
}

.login-register-header h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.login-register-button {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 12px;
  background-color: #fff;
  justify-content: center;
}

.switch-button {
  border: none;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  font-weight: 600;
}

.switch-button.active {
  background-color: #d9d9d9;
}

.button-left {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.button-right {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.login-button-text,
.register-button-text {
  padding: 12px 15px;
}

.margin-space {
  margin-bottom: 7%;
}

.margin-space-small {
  margin-bottom: 5%;
}

.form-label {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1%;
}

.login-register-form-size {
  height: 45px;
  border-radius: 8px;
}

.submit-checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.isAdmin-text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.checkbox-size {
  height: 18px;
  width: 18px;
  border: none;
}

.login-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1355b9;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start of the container */
  align-items: center;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.role-text {
  flex-direction: column;
  width: 50%;
}

.role-text h6 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.register-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.register-link:hover {
  color: #fff;
}

.mssg-alert {
  width: fit-content;
  color: #ff6666;
  font-size: 16px;
  font-weight: 500;
}

.logout-class {
  width: 100%;
  color: #fff;
}

.logout-class:hover {
  color: #000000;
  text-decoration: none;
}

.alert-message-container {
  display: flex;
  justify-content: flex-end;
  background-color: #1373b9;
}

.change-password-text {
  width: fit-content;
  display: flex;
  padding: 8px 10px;
  background-color: #74bcf1;
  color: #000000;
  border-radius: 12px;
}

.change-password-text h3 {
  margin: 0;
  font-size: 16px;
}

.change-password-container {
  width: 60%;
  margin-top: 3%;
}

.password-text {
  font-weight: 500;
}

.button-container-submit-password {
  display: flex;
  justify-content: end;
}

.confirm-new-password-button {
  background-color: #072e4a;
  color: #fff;
  padding: 8px 10px;
  font-weight: 500;
  border-radius: 12px;
}

.password-border {
  border: 1px solid #1373b9;
  border-radius: 8px;
  padding: 1%;
  width: 50%;
}

.alert-outer-container {
  width: 100%;
  display: flex;
}

.alert-right {
  display: flex;
  justify-content: flex-end;
}

.alert-container {
  width: 30%;
}

.form-row {
  margin-left: 0;
  margin-right: 0;
}

.form-row > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.form-class {
  width: 25%;
}

.custom-col-assessment {
  width: 40%;
}

.form-outline {
  border: 2px solid #1373b9;
  border-radius: 8px;
}

.assessment-submit-button {
  display: flex;
  justify-content: end;
}

.btn-submit {
  background-color: #072e4a;
  color: #fff;
  padding: 8px 10px;
  font-weight: 500;
  border-radius: 12px;
}

.show-class-button {
  display: flex;
}

.class-btn-styling {
  background-color: #1373b9;
  color: #fff;
  padding: 8px 10px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
}

.class-btn-styling-enter {
  background-color: #072e4a;
  color: #fff;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
}

.custom-modal-size {
  width: 600px;
}

.show-class-width {
  display: flex;
  width: 50%;
  gap: 10px;
}

.add-student-profile-button {
  width: 50%;
  display: flex;
  justify-content: end;
}

.custom-form-size {
  width: 40%;
  height: 80%;
}

.class-term-submit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.term_report_row {
  justify-content: space-between;
  align-items: center;
}

.btn-confirm-attendance{
  background-color: #072e4a;
  color: #fff;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
}

.attendance-submit-button {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.custom-col-update-profile {
  width: 40%;
}

.custom-full-width {
  width: 85%;
  margin-bottom: 10px; /* Optional: Add margin for spacing between rows */
  border: 2px solid #1373b9;
  border-radius: 8px;
}