{% extends "base.html" %} {% block content %}
<div class="login-background">
  <div class="kindergarten-logo">
    <img
      src="{{ url_for('static', filename='images/Kidz4Learn.jpeg') }}"
      alt="Kindergarten Logo"
    />
  </div>
  <div class="login-register-container">
    <div class="login-register-box">
      <div class="login-register-header">
        <h3>Forgot Password</h3>
      </div>
      <div class="margin-space"></div>
      <div class="reset-password-text mb-4">
        <p>Enter your email here to send reset password link</p>
      </div>
      <div class="alert-message-container">
        <!-- Registration success alert message -->
        {% with messages = get_flashed_messages(category_filter=['email_success']) %}
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable alert-login" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        {% with messages = get_flashed_messages(category_filter=['email_error']) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
      <div id="register-div" class="login-register-form">
        <form action="{{ url_for('forgot_password') }}" method="POST">
          <div class="form-group">
            <label class="form-label" for="email">Email :</label>
            <input
              type="text"
              class="form-control login-register-form-size"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="margin-space"></div>
          <div class="submit-container" style="width: auto;">
            <button type="submit" class="login-submit-button">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
