<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/f0c6770306.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div class="body-container">
        <!-- Dashboard -->
        <div class="dashboard-container">
            <div class="user-container">
                <div class="user-profile">
                    A
                </div>
                <div class="profile-name">
                    <h3>Admin</h3>
                </div>

                <div class="horizontal-line">
                </div>

                <div class="menu-list-container">
                        <button class="menu-link menu-link--active" data-for-tab="1">
                            <li class="menu-list-styling">
                                <div class="list-icon">
                                    <i class="fa-solid fa-house"></i>
                                </div>
                                <div class="list-text">
                                    Dashboard
                                </div>
                            </li>
                        </button>
                        <button class="menu-link" data-for-tab="2">
                            <li class="menu-list-styling">
                                <div class="list-icon">
                                    <i class="fa-solid fa-list-ul"></i>                            
                                </div>
                                <div class="list-text">
                                    Student List
                                </div>
                            </li>
                        </button>
                        <button class="menu-link" data-for-tab="3">
                            <li class="menu-list-styling">
                                <div class="list-icon">
                                    <i class="fa-solid fa-user"></i>                            
                                </div>
                                <div class="list-text">
                                    Student Profile
                                </div>
                            </li>
                        </button>
                        <button class="menu-link" data-for-tab="4">
                            <li class="menu-list-styling">
                                <div class="list-icon">
                                    <i class="fa-solid fa-question"></i>                            
                                </div>
                                <div class="list-text">
                                    Others
                                </div>
                            </li>
                        </button>
                </div>
                
            </div>
        </div>
        <div class="content-container content-container--active" data-tab="1">
            <h2>Tab 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet et quam id elementum. Nunc imperdiet augue congue aliquam consectetur. Vivamus condimentum sapien pretium eros maximus, sed volutpat leo tempus. In eget pretium turpis, ac rutrum risus. Aliquam congue augue id mi gravida, sed vehicula dui sodales. Praesent a vulputate orci. Suspendisse mollis enim sit amet elit tempus, a luctus eros iaculis. Maecenas dictum nunc vel tellus ullamcorper mollis. Aliquam accumsan nibh nec interdum egestas. Pellentesque vitae cursus erat, ut rhoncus ligula. Suspendisse nec metus sit amet neque dictum aliquet ut nec quam. Integer accumsan ex quis diam eleifend convallis. Nam pharetra sodales orci, eu bibendum sem feugiat vitae. Vivamus feugiat arcu a magna egestas, at eleifend nunc fringilla. Integer aliquet feugiat quam, sodales ornare massa rhoncus nec.

                Duis vel ullamcorper dolor, accumsan sodales nunc. Curabitur vel lectus commodo, semper nisl quis, sollicitudin nulla. Integer at sem non purus tincidunt hendrerit sed quis neque. Phasellus finibus dictum urna, vitae aliquam enim cursus et. In sed lectus libero. Vestibulum convallis pharetra orci ac dictum. Morbi ut urna ex. Nullam accumsan ac ex eget fermentum. Quisque quis est quam. Morbi fringilla mi sit amet ante feugiat, ac suscipit tellus mollis. Maecenas efficitur eros sed purus luctus dignissim. Ut non turpis vel nibh lobortis tristique in eget eros. Vivamus facilisis fermentum nibh ut finibus. Aliquam feugiat nibh pharetra turpis cursus euismod. Nunc varius vehicula erat ut semper. Maecenas non vehicula turpis.
                
                Nullam nunc sem, commodo quis metus eu, consequat venenatis velit. Ut nec magna faucibus, dapibus augue ac, blandit nisi. Aenean non fringilla dui. Ut quis sapien tortor. Ut congue, tellus ut ullamcorper maximus, arcu felis cursus purus, et efficitur augue lacus nec felis. Ut vulputate nisl metus, eu fringilla tellus egestas sed. Duis ultrices ante sed turpis blandit, efficitur ornare eros porta. Donec eget felis ipsum. Pellentesque a sapien accumsan, auctor leo sit amet, sagittis odio. Mauris iaculis egestas urna, a molestie enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam ultricies consequat nisi. Nullam mollis mauris sed lectus dictum mollis. Cras sit amet neque vel ante ultrices varius.
                
                Suspendisse potenti. Aenean et eros nec tellus lacinia tempor. Cras quis sollicitudin erat. Etiam sed elit sit amet metus facilisis maximus a a felis. Integer sit amet quam tortor. Duis consequat lorem nec turpis molestie accumsan. Morbi quis quam viverra, malesuada turpis scelerisque, convallis ex. In gravida, eros non facilisis egestas, lectus lorem consectetur ligula, nec efficitur turpis nibh quis nibh. Sed at orci iaculis, bibendum elit porta, finibus mi. Ut eget ultrices ex. Aenean pellentesque tristique massa, vitae molestie dolor egestas sit amet. Vivamus molestie nisi facilisis lobortis aliquam. Donec mollis tortor eu tellus mattis elementum. Nulla in massa id massa sagittis fermentum vel non magna. Pellentesque commodo lacus nec scelerisque fringilla.
                
                Donec blandit velit sed libero pulvinar iaculis. Maecenas leo massa, semper in dictum nec, faucibus vitae mi. Phasellus non lectus non risus elementum tempor. Donec porta risus purus, id cursus nibh scelerisque vitae. Mauris eget metus sed justo sollicitudin faucibus. Mauris ultrices mauris ante, vitae posuere nisi faucibus vel. Suspendisse nisi ex, rutrum vel nisl sed, porttitor rhoncus mi. In hac habitasse platea dictumst. Nulla a venenatis tortor, imperdiet tincidunt arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Nam sodales a tortor vitae lacinia. Mauris volutpat, justo nec ultrices hendrerit, nisl sapien facilisis tortor, eu porttitor dui tellus eget augue. Nam a velit non orci maximus vehicula. Aenean sed scelerisque ipsum, at sagittis diam.
            </p>
        </div>
        <div class="content-container" data-tab="2">
            <h2>Tab 2</h2>
            <p>
                bbbbbbbbbbbbbbbbbbbbbbbbb
                bbbbbbbbbbbbbbbbbbbbbbbbb
                bbbbbbbbbbbbbbbbbbbbbbbbb
            </p>
        </div>
        <div class="content-container" data-tab="3">
            <h2>Tab 3</h2>
            <p>
                ccccccccccccccccccccccccc
                ccccccccccccccccccccccccc
                ccccccccccccccccccccccccc
            </p>
        </div>
        <div class="content-container" data-tab="4">
            <h2>Tab 4</h2>
            <p>
                ddddddddddddddddddddddddd
                ddddddddddddddddddddddddd
                ddddddddddddddddddddddddd
            </p>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/hideshow.js') }}"></script>

    
</body>
</html>