<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    
    

    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/f0c6770306.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div class="body-container">
        <!-- Dashboard -->
        <div class="dashboard-container">
            <div class="user-container">
                <div class="user-profile">
                    A
                </div>
                <div class="profile-name">
                    <h3>{{accountname}}</h3>
                </div>

                <div class="horizontal-line">
                </div>

                <div class="menu-list-container">
                        <button class="menu-link" data-for-tab="1">
                            <li class="menu-list-styling">
                                <div class="list-icon">
                                    <i class="fa-solid fa-house"></i>
                                </div>
                                <div class="list-text">
                                    Employee
                                </div>
                            </li>
                        </button>
                        <button class="menu-link" data-for-tab="2">
                            <li class="menu-list-styling">
                                <div class="list-icon">
                                    <i class="fa-solid fa-list-ul"></i>                            
                                </div>
                                <div class="list-text">
                                    Student List
                                </div>
                            </li>
                        </button>
                        <button class="menu-link" data-for-tab="3">
                            <li class="menu-list-styling">
                                <div class="list-icon">
                                    <i class="fa-solid fa-user"></i>                            
                                </div>
                                <div class="list-text">
                                    Student Profile
                                </div>
                            </li>
                        </button>
                        <button class="menu-link" data-for-tab="4">
                            <li class="menu-list-styling">
                                <div class="list-icon">
                                    <i class="fa-solid fa-question"></i>                            
                                </div>
                                <div class="list-text">
                                    Others
                                </div>
                            </li>
                        </button>
                        <div class="mb-5"></div>
                        <div class="mb-5"></div>
                        <div class="mb-5"></div>
                        <div class="mb-5"></div>
                        <a class="menu-link logout-class" href="{{ url_for('logout') }}">
                            <li class="menu-list-styling">
                                <div class="list-icon">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>                                
                                </div>
                                <div class="list-text">
                                    Log Out
                                </div>
                                
                            </li>
                        </a>

                </div>
                
            </div>
        </div>
        <div class="content-container" data-tab="1">
            <h2 class="mb-0">Employee</h2>

            <div class="horizontal-line-blue">
            </div>

            <div class="button-container">
                <button type="button" class="btn-toggle-modal" data-toggle="modal" data-target="#myModal">
                    Add Employee
                </button>
                
                <!-- Employee Success Alert Message -->
                {% with messages = get_flashed_messages(category_filter=['employee_success']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <!-- Employee Error Alert Message -->
                {% with messages = get_flashed_messages(category_filter=['employee_error']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
            </div>

            <!-- Employee Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Please add a new Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('insert') }}" method="POST">
                            <div class="row">
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputName">Name:</label>
                                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter Name" required>
                                </div>
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputEmail">Email:</label>
                                    <input type="text" name="email" class="form-control" id="inputEmail" placeholder="Enter Email Address" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputSubject">Subject</label>
                                    <select id="inputSubject" name="subject" class="form-control">
                                        <option selected disabled>Choose...</option>
                                        <option>Chinese</option>
                                        <option>English</option>
                                        <option>Malay</option>
                                        <option>Mathematics</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputGender">Gender</label>
                                    <select id="inputGender" name="gender" class="form-control">
                                        <option selected disabled>Choose...</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 mb-3">
                                    <label for="inputClass">Class</label>
                                    <select id="inputClass" name="class" class="form-control">
                                        <option selected disabled>Choose...</option>
                                        <option>JS1</option>
                                        <option>JS2</option>
                                        <option>JS3</option>
                                    </select>
                                </div>
                            </div>

                            <button type="button" class="btn btn-discard-changes" data-dismiss="modal">Discard Changes</button>
                            <button type="submit" class="btn btn-save-changes">Save changes</button>
    
                        </form>

                    </div>

                  </div>
                </div>
              </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Class</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in employees %}
                    <tr>
                        <td>{{row.0}}</td>
                        <td>{{row.1}}</td>
                        <td>{{row.2}}</td>
                        <td>{{row.3}}</td>
                        <td>{{row.4}}</td>
                        <td>{{row.5}}</td>
                        <td>
                            <a href="/update/{{ row.0 }}" class="btn-edit" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                            <a href="/delete/{{ row.0 }}" onclick="return confirm('Are you sure you want to delete this data?')" class="btn-delete">Delete</a>
                        </td>
                    </tr>

                    <!-- Edit Modal -->
                    <div class="modal fade" id="modaledit{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="myModalLabelEdit">Update Employee Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('update') }}" method="POST">
                                    <input type="hidden" name="id" value="{{row.0}}">
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="inputName">Name:</label>
                                            <input value="{{row.1}}" type="text" name="name" class="form-control" id="inputName" placeholder="Enter Name" required>
                                        </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="inputEmail">Email:</label>
                                            <input value="{{row.4}}" type="text" name="email" class="form-control" id="inputEmail" placeholder="Enter Email Address" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="inputSubject">Subject</label>
                                            <select id="inputSubject" name="subject" class="form-control">
                                                <option disabled>Choose...</option>
                                                <option value="Chinese" {% if row.2 == 'Chinese' %} selected {% endif %}>Chinese</option>
                                                <option value="English" {% if row.2 == 'English' %} selected {% endif %}>English</option>
                                                <option value="Malay" {% if row.2 == 'Malay' %} selected {% endif %}>Malay</option>
                                                <option value="Mathematics" {% if row.2 == 'Mathematics' %} selected {% endif %}>Mathematics</option>                
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="inputGender">Gender</label>
                                            <select id="inputGender" name="gender" class="form-control">
                                                <option disabled>Choose...</option>
                                                <option value="Male" {% if row.5 == 'Male' %} selected {% endif %}>Male</option>
                                                <option value="Female" {% if row.5 == 'Female' %} selected {% endif %}>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 mb-3">
                                            <label for="inputClass">Class</label>
                                            <select id="inputClass" name="class" class="form-control">
                                                <option disabled>Choose...</option>
                                                <option value="JS1" {% if row.3 == 'JS1' %} selected {% endif %}>JS1</option>
                                                <option value="JS2" {% if row.3 == 'JS2' %} selected {% endif %}>JS2</option>
                                                <option value="JS3" {% if row.3 == 'JS3' %} selected {% endif %}>JS3</option>
                                            </select>
                                        </div>
                                    </div>
        
                                    <button type="button" class="btn btn-discard-changes" data-dismiss="modal">Discard Changes</button>
                                    <button type="submit" class="btn btn-save-changes">Save changes</button>
            
                                </form>
        
                            </div>
        
                          </div>
                        </div>
                      </div>
        


                    {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="content-container" data-tab="2">
            <h2 class="mb-0">Student List</h2>

            <div class="horizontal-line-blue">
            </div>

            <div class="button-container">
                <div class="jinja-alert-container">
                    <form action="{{ url_for('uploadcsv') }}" method="POST" enctype="multipart/form-data" id="uploadForm">

                            <input class="csvfileinput" type="file" name="csvFile" id="csvFile" accept=".csv">
                            <label class="labelcsv" for="csvFile">Upload CSV File</label>

                            <input type="hidden" id="currentTab" name="currentTab" value="1"> <!-- Default to the first tab -->

                    </form>
                    
                    <!-- CSV Success Alert Message -->
                    {% with messages = get_flashed_messages(category_filter=['csv_success']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissable ml-2" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <!-- CSV Error Alert Message -->
                    {% with messages = get_flashed_messages(category_filter=['csv_error']) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger alert-dismissable ml-2" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <button class="csvdownload-template">
                    <a class="downloadcsv-link" href="{{ url_for('download_template') }}" download="Student_List_Template.csv">Download CSV Template</a>
                </button>
        
                
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">File Name</th>
                        <!-- <th scope="col">Upload Date</th> -->
                        <th scope="col">Action</th>
                    </tr>

                </thead>
                <tbody>
                    {% for filename in filenames %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ filename }}</td>
                            <td>
                                <a href="{{ url_for('download_csv', filename=filename) }}" class="btn btn-download-csv">Download</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
        <div class="content-container" data-tab="3">
            <h2 class="mb-0">Student Profile</h2>
            <div class="horizontal-line-blue"></div>
        

            <!-- Student Profile Success Alert Message -->
            {% with messages = get_flashed_messages(category_filter=['studentprofile_success']) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissable alert-container" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Student Profile Error Alert Message -->
            {% with messages = get_flashed_messages(category_filter=['studentprofile_error']) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissable alert-container" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <div class="show-class-button">
                <div class="show-class-width">
                    {% for class_tuple in classes %}
                    <button type="button" class="class-button class-btn-styling button-class-gap" data-for-class="{{ class_tuple[0] }}">Class {{ class_tuple[0] }}</button>
                    {% endfor %}
                </div>
                <div class="add-student-profile-button">
                    <button type="button" class="btn-toggle-modal" data-toggle="modal" data-target="#modalAddStudentProfile">Add Student Profile</button>
                </div>
            </div>

            <!-- Add Student Profile Modal -->
            <div class="modal fade" id="modalAddStudentProfile" tabindex="-1" role="dialog" aria-labelledby="myModalStudentProfileLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content custom-modal-size">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalStudentProfileLabel">Add Student Profile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('add_studentprofile') }}" method="POST">
                                <div class="row">
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="inputName">Student Name:</label>
                                        <input type="text" name="student_name" class="form-control" id="inputName" placeholder="Enter Student Name" required>
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="inputStudentId">Student ID:</label>
                                        <input type="text" name="student_id" class="form-control" id="inputStudentId" placeholder="Enter Student ID" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="inputClass">Class:</label>
                                        <input type="text" name="class" class="form-control" id="inputClass" placeholder="Enter Class" required>
                                    </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="inputParentName">Parent's Name:</label>
                                        <input type="text" name="parent_name" class="form-control" id="inputParentName" placeholder="Enter Parent's Name" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 mb-3">
                                        <label for="inputParentContact">Parent's Contact:</label>
                                        <input type="text" name="parent_contact" class="form-control" id="inputParentContact" placeholder="Enter Parent's Contact" required>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-discard-changes" data-dismiss="modal">Discard Changes</button>
                                <button type="submit" class="btn btn-save-changes">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Student Name</th>
                        <th scope="col">Student ID</th>
                        <th scope="col">Class</th>
                        <th scope="col">Parent's Name</th>
                        <th scope="col">Parents's Contact</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in studentprofile %}
                        {% if row[2] == selected_class %}
                            <tr class="class-row" data-class="{{ row[2] }}">
                                <td>{{ row[1]}}</td>
                                <td>{{ row[0]}}</td>
                                <td>{{ row[2]}}</td>
                                <td>{{ row[3]}}</td>
                                <td>{{ row[4]}}</td>
                                <td>
                                    <a href="/update_studentprofile/{{ row[0] }}" class="btn-edit" data-toggle="modal" data-target="#modalUpdateStudentProfile{{row[0]}}">Update</a>
                                    <a href="/delete_studentprofile/{{ row[0] }}" onclick="return confirm('Are you sure you want to delete this data?')" class="btn-delete">Delete</a>
                                </td>
                            </tr>

                            <!-- Edit Student Profile Modal -->
                            <div class="modal fade" id="modalUpdateStudentProfile{{row[0]}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelUpdateSProfile" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content custom-modal-size">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabelUpdateSProfile">Update Student Profile</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('update_studentprofile')}}" method="POST">
                                            <input type="hidden" name="student_id" value="{{ row[0]}} ">
                                            <div class="row">
                                                <div class="form-group col-md-6 mb-3">
                                                    <label for="inputName">Student Name:</label>
                                                    <input value="{{ row[1]}}" type="text" name="student_name" class="form-control" id="inputName" placeholder="Enter Name" required>
                                                </div>
                                                <div class="form-group col-md-6 mb-3">
                                                    <label for="inputClass">Class:</label>
                                                    <select name="class" id="class" class="form-control">
                                                        <option disabled>Choose...</option>
                                                        {% for class_tuple in classes %}
                                                            <option value="{{ class_tuple[0] }}" {% if row[2] == class_tuple[0] %} selected {% endif %}>{{ class_tuple[0] }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 mb-3">
                                                    <label for="inputParentName">Parent's Name:</label>
                                                    <input value="{{ row[3]}}" type="text" name="parent_name" class="form-control" id="inputParentName" placeholder="Enter Parent's Name" required>
                                                </div>
                                                <div class="form-group col-md-6 mb-3">
                                                    <label for="inputParentContact">Parent's Contact:</label>
                                                    <input value="{{ row[4]}}" type="text" name="parent_contact" class="form-control" id="inputParentContact" placeholder="Enter Parent's Contact" required>
                                                </div>
                                            </div>

                                            <button type="button" class="btn btn-discard-changes" data-dismiss="modal">Discard Changes</button>
                                            <button type="submit" class="btn btn-save-changes">Save changes</button>
                                        </form>
                                    </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="content-container" data-tab="4">
            <h2 class = "mb-0">Others</h2>

            <div class="horizontal-line-blue">
            </div>

            <!-- Password Change Success Alert Message -->
            {% with messages = get_flashed_messages(category_filter=['password_success']) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissable alert-container" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Password Change Error Alert Message -->
            {% with messages = get_flashed_messages(category_filter=['password_error']) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissable alert-container" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="password-change">
                <div class="change-password-text">
                    <h3>Change Password</h3>
                </div>
                <div class="mb-3"></div>
                <form action ="{{ url_for('change_password') }}" method="POST" class="change-password-container">
                    <div class="form-group">
                        <label for="old_password" class="password-text"> Enter your old password: </label>
                        <input type="password" id="old_password" name="old_password" class="password-border form-control" required>  
                    </div>

                    <div class="mb-3"></div>

                    <div class="form-group">
                        <label for ="new_password" class="password-text"> Enter your new password: </label>
                        <input type="password" id="new_password" name="new_password" class="password-border form-control" required>
                    </div>

                    <div class="mb-3"></div>


                    <div class="form-group">
                        <label for="confirm_password" class="password-text"> Confirm your new password: </label>
                        <input type="password" id="confirm_password" name="confirm_password" class="password-border form-control" required><br>
                    </div>

                    <div class="mb-3"></div>
                    <div class="button-container-submit-password">
                        <button type="submit" class="confirm-new-password-button">Confirm Changes</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>


    <script src="{{ url_for('static', filename='js/hideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/triggerupload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/studentprofileclass.js') }}"></script>
    
</body>
</html>